.ai-assistant-view * {
    box-sizing: border-box;
}

.ai-assistant-view {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.ai-assistant-view ai-assistant-response {
    font-size: 1.2em;
}

.ai-assistant.svg-icon path {
    stroke: var(--icon-color) !important;
}

.ai-assistant-modal-loading .modal-close-button {
    display: none;
}
